html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/* Fondo animado */
.slideshow {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    animation: fondo 15s infinite;
    z-index: 1;
}

/* Oscurecer fondo */
.slideshow::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.15);
}

/* Contenido centrado */
.contenido-central {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.logo {
    width: 300px;
    margin-bottom: 20px;
}

.logo-cremallera{
    text-align: center;
}

.logo-cremallera p{
    font-family: 'MiFuenteBrush';
    font-size: 65px;
    color: rgb(255, 255, 255);
    margin-top: -20px;
}

/* Menú */
.menu {
    display: flex;
    gap: 15px;
}

/* Mismo estilo para todos en el menu */
.menu button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* Mismo ancho y altura */
    width: 170px;              
    height: 45px;              
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 15px;
    font-weight: bold;        
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

/* Quitar estilos por defecto del botón */
.menu button {
    background: none;
    padding: 0;
    outline: none;
}

/* Hover uniforme */
.menu a:hover,
.menu button:hover {
    background: white;
    color: black;
}

/* Panel desplegable */
.panel-info {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    margin-top: 20px;
    background: rgba(255,255,255,0.9);
    color: black;
    width: 400px;
    padding: 0 20px;
}
.panel-info.activo {
    max-height: 300px;
    padding: 20px;
}

/* Animación fondo */
@keyframes fondo {
    0% { background-image: url("/proyecto_la_cremallera/public/Paginas/Imagenes/fondo1.jpg"); }
    50% { background-image: url("/proyecto_la_cremallera/public/Paginas/Imagenes/fondo2.jpg"); }
    100% { background-image: url("/proyecto_la_cremallera/public/Paginas/Imagenes/fondo3.jpg"); }
}

@font-face {
    font-family: 'MiFuenteBrush';
    src: url('/proyecto_la_cremallera/public/Paginas/Fotns/Fonts_Package_eb90b99c66225f68ae96b28dac620bb5/BrushScriptMT/web/font/BrushScriptMT.woff2') format('woff2'),
         url('/proyecto_la_cremallera/public/Paginas/Fotns/Fonts_Package_eb90b99c66225f68ae96b28dac620bb5/BrushScriptMT/web/font/BrushScriptMT.woff') format('woff'),
         url('/proyecto_la_cremallera/public/Paginas/Fotns/Fonts_Package_eb90b99c66225f68ae96b28dac620bb5/BrushScriptMT/BrushScriptMT.ttf') format('truetype');
}