 @font-face {
    font-family: 'MiFuenteBrush';
    src: url('/public/Paginas/Fotns/Fonts_Package_eb90b99c66225f68ae96b28dac620bb5/BrushScriptMT/web/font/BrushScriptMT.woff2') format('woff2'),
         url('/public/Paginas/Fotns/Fonts_Package_eb90b99c66225f68ae96b28dac620bb5/BrushScriptMT/web/font/BrushScriptMT.woff') format('woff'),
         url('/public/Paginas/Fotns/Fonts_Package_eb90b99c66225f68ae96b28dac620bb5/BrushScriptMT/BrushScriptMT.ttf') format('truetype');
}
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f1f1f1;
}

/* ===== Contenedor principal ===== */
.contenedor {
    display: flex;
    padding: 30px 40px;
    max-width: 1100px;
    width: 100%;
    background: rgba(180, 180, 180, 0.5);
}

/* ===== Logos ===== */
.logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

.logos img {
    width: 250px;
    height: auto;
    object-fit: contain;
}

.logo-cremallera p {
    font-family: 'MiFuenteBrush';
    font-size: 50px;
    color: #000;
    margin-top: 5px;
    text-align: center;
}

/*  Estilo de la prueba calendario*/

.calendar-container {
    width: 350px;
    margin: auto;
    font-family: Arial;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 10px;
}

.day {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 70px;
    cursor: pointer;
    position: relative;
}

.event {
    background: #007bff;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 12px;
    margin-top: 4px;
}

.modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden { display: none; }

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
}
