/* Configuracion general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f1f1f1;
}

/* Logos */
.logos {
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.logos img {
    width: 350px;
    height: auto;
    object-fit: contain;
}

.logo-cremallera {
    text-align: center;
}

.logo-cremallera p {
    font-family: 'MiFuenteBrush';
    font-size: 60px;
    color: black;
    margin-top: 5px;
}

.contenedor{
    width: 450px;
    background: rgba(180, 180, 180, 0.5);
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

.orden {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orden label {
    width: 140px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}

.orden input {
    flex: 1;
    padding: 3px 10px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 2px;
}

/* Botones */
.botones {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 30px;
}

.botones button {
    flex: 1;
    padding: 10px;
    border: none;
    background: #0059b3;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
}

.botones button:hover {
    background: #003d80;
}

.botonSinDiseño {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    color: #003d80;
    text-decoration: none;
}

.botonSinDiseño:hover{
    color: black;
}

@font-face {
    font-family: 'MiFuenteBrush';
    src: url('/proyecto_la_cremallera/public/Paginas/Fotns/Fonts_Package_eb90b99c66225f68ae96b28dac620bb5/BrushScriptMT/web/font/BrushScriptMT.woff2') format('woff2'),
        url('/proyecto_la_cremallera/public/Paginas/Fotns/Fonts_Package_eb90b99c66225f68ae96b28dac620bb5/BrushScriptMT/web/font/BrushScriptMT.woff') format('woff'),
        url('/proyecto_la_cremallera/public/Paginas/Fotns/Fonts_Package_eb90b99c66225f68ae96b28dac620bb5/BrushScriptMT/BrushScriptMT.ttf') format('truetype');
}